/*
Includes lots of redundancies and media queries - development version.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 10px;
}
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}


/*-----------------------------*/
/*------------- Nav -----------*/
/*-----------------------------*/
nav {
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background: #fff;
    z-index: 9999999999;
}
.social {
    position: static;
    height: 40px;
    width: 100%;
    background: #ffc901;
}
.social .social-content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.social .social-content .cta {
    position: absolute;
    top: 12px;
    left: 50px;
    font-size: 1.15rem;
}
.tel {
    margin-left: 30px;
}
.social .social-content .cta a i {
    font-size: 1.45rem;
}
.nav {
    height: 100%;
    width: 1200px;
    position: relative;
    margin: auto;
}
.nav .brand {
    position: absolute;
    top: 0;
    left: 0;
}
nav .nav .brand img {
    height: 125px;
    padding: 0;
    width: auto;
}
.nav div.toggle {
    cursor: pointer;
    position: absolute;
    color: #F9DA67;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    display: none;
    font-size: 30px;
    border-radius: 5px;
}
.nav div.toggle i {
    font-weight: 100;
    padding: 0 8px;
}
.nav-links {
    position: absolute;
    right: 10px;
    bottom: 55px;
    width: 780px;
    height: 70px;
}
.links {
    width: 140px;
    height: 100%;
    color: #1f0299;
    position: relative;
    text-align: center;
    display: inline-block;
}
.links a {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.links a p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: bold;
}


/*----------- Mobile Nav ------------*/
.mobilenav {
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 999999999999999999999;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.mobilenav b {
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.mobilenav b i {
    font-size: 30px;
    font-weight: 100;
    padding: 0 8px;
}
.mobnav {
    height: 60%;
    width: 90%;
    padding: 10% 0;
    margin: 30% 0;
}
.moblinks {
    height: 35px;
    padding: 10px 0;
    width: 80%;
    margin: 10px auto;
}
.moblinks a {
    font-size: 1.25rem;
    padding: 5px 0;
    border-bottom: 1px dotted black;
}
.active {
    opacity: 1.0;
    right: 0;
}


/*-------------------------------*/
/*------------- Main ------------*/
/*-------------------------------*/
main {
    width: 100%;
    height: 100%;
    padding: 0px 0;
    margin: auto;
    position: relative;
}
.carousel {
    height: auto;
    width: 100%;
    background: #cccccc;
    transition: 0.5s ease;
}
.carousel-container {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    position: relative;
}
.carousel-container .info {
    height: auto;
    background: rgba(204,0,0, .5);
    position: absolute;
    bottom: 0;
    left: 50px;
    padding: 40px 60px 40px 40px;
    color: white;
}
.carousel-container .info p {
    font-size: 1.5rem;
}
.carousel-container img {
    width: 100%;
    height: auto;
    margin: auto;
}
@media (max-width: 425px) {
    .carousel-container .info {
        width: 100%;
        height: 100%;
        left: 0;
    }
}

/*------------------------------------*/
/*-------------- Welcome -------------*/
/*------------------------------------*/
.welcome {
    width: 100%;
    height: 450px;
    text-align: left;
    margin: 80px 0px;
    position: relative;
}
.welcome .text, .welcome .image {
    width: 50%;
    height: 100%;
    position: absolute;
}
.welcome .text {
    left: 0;
    top: 0;
    padding: 0 0 0 50px;
}
.welcome .image {
    right: 0;
    bottom: 0;
    padding: 0 50px 0 0;
}
.welcome .image img {
    margin: 25px;
    width: 100%;
    height: auto;
}
.welcome .text h3 {
    margin: 2.5rem 1.25rem 15px 0;
    padding: 5px;
    font-size: 2.4rem;
    position: relative;
    z-index: 222;
}
.welcome .text p {
    font-size: 1.725rem;
    padding: 0 20px 0 5px;
}
@media (max-width: 1024px) {
    .welcome {
        height: 350px;
    }
}
@media (max-width: 768px) {
    .welcome {
        height: 720px;
    }
    .welcome .text, .welcome .image {
        width: 100%;
    }
    .welcome .image {
        width: 100%;
        top: 250px;
        margin: 0;
        padding: 0;
    }
    .welcome .image img {
        margin: 0;
    }
    .social .social-content {
        width: 720px;
    }
}
@media (max-width: 425px) {
    .welcome {
        height: auto;
    }
    .welcome .text {
        padding: 0 20px;
        position: static;
        height: auto;
    }
    .welcome .text h3 {
        margin: 0 20px 15px 0;
        text-align: center;
    }
    .welcome .text p {
        margin: 0 0 20px 0;
        text-align: justify;
    }
    .welcome .image {
        position: static;
    }
}
/*------------------------------------*/
/*--------------- About --------------*/
/*------------------------------------*/
.about {
    width: 100%;
    height: auto;
    background: #8D6BFD;
    text-align: center;
    margin-top: -145px;
}
.about h2 {
    text-transform: uppercase;
    padding: 50px 0 0 0;
}
.about p {
    padding: 30px 20px 60px 20px;
    text-align: justify;
    font-size: 1.715rem;
}


/*------------------------------------*/
/*------------- Reference ------------*/
/*------------------------------------*/
.reference {
    width: 100%;
    height: auto;
}
.refchild {
    width: 75%;
    height: 300px;
    position: relative;
    font-size: 1.75rem;
    margin: 50px auto;
}
.reftext {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 100px 30px 20px 30px;
}
.refimage {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
}
.reference .refchild:nth-child(odd) .refimage {
    right: 0;
}
.reference .refchild:nth-child(odd) .reftext {
    left: 0;
}
.reference .refchild:nth-child(even) .refimage {
    left: 0;
}
.reference .refchild:nth-child(even) .reftext {
    right: 0;
}
.refimage img {
    width: auto;
    height: 100%;
}


/*------------------------------------*/
/*----------- Media Queries ----------*/
/*------------------------------------*/
@media (max-width: 1239px){
    nav {
        height: 110px;
    }
    .nav {
        width: 100%;
    }
    nav .nav .brand {
        left: 25px;
    }
    nav .nav .brand img {
        height: 75px;
    }
    .nav-links {
        height: 50px;
        width: 480px;
        bottom: 50px;
        right: 0;
    }
    .links {
        width: 90px;
    }
    .links a p {
        font-size: 0.85rem;
    }
    .welcome p {
        font-size: 1.15rem;
    }
    .social .social-content .cta {
        left: 20px;
    }
}

@media (min-width: 1441px) {
    main {
        width: 1440px;
    }
    .social .social-content {
        width: 1440px;
    }
}

/*---------- Mobile ---------*/
@media (max-width: 425px) {
    main {
        width: 100%;
    }
    .welcome .text p {
        padding: 0;
    }
    .nav-links {
        display: none;
    }
    .nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav .brand {
        position: static;
    }
    nav .nav .brand img {
        height: 75px;
    }
    .nav div.toggle {
        display: block;
    }
    .social {
        display: none;
    }
    .about {
        margin-top: -120px;
    }
}