* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family:  sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}



/*-----------------------------*/
/*------------- Nav -----------*/
/*-----------------------------*/
nav {
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #96f088;
    z-index: 9999999999;
}
.nav {
    height: 100%;
    width: 1240px;
    position: relative;
    margin: auto;
}
.nav .brand {
    position: absolute;
    top: 0;
    left: 50px;
}
nav .nav .brand img {
    height: 155px;
    width: auto;
}
.nav-links {
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 780px;
    height: 70px;
}
.links {
    width: 140px;
    height: 100%;
    color: #1f0299;
    position: relative;
    text-align: center;
    display: inline-block;
}
.links a {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.links a p {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.15rem;
    font-weight: bold;
}


/*-------------------------------*/
/*------------- Main ------------*/
/*-------------------------------*/
main {
    width: 100%;
    height: 100%;
    padding: 0px 0;
    margin: auto;
    position: relative;
}
.carousel {
    height: auto;
    width: 100%;
    background: #cccccc;
    transition: 0.5s ease;
}
.carousel-container {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}
.carousel-container img {
    width: 100%;
    height: auto;
    margin: auto;
}

/*------------------------------------*/
/*-------------- Welcome -------------*/
/*------------------------------------*/
.welcome {
    width: 100%;
    height: auto;
    text-align: center;
}
.welcome h1 {
    margin: 2.5rem 0 15px 0;
    font-size: 2em;
}
.welcome p {
    padding: 0 70px 50px 70px;
    font-size: 1.25rem;
}
.welcome .tag {
    font-size: 1rem;
}
.tag:before {
    content: "-";
}

/*-----------------------------------*/
/*--------------- Grid --------------*/
/*-----------------------------------*/
.grid {
    width: 90%;
    margin:50px auto;
    
    -moz-column-width: 220px;
    -webkit-column-width: 220px;
    column-width: 220px;
    
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}
a[title] figure img{
    width: 100%;
    height: auto;
    margin-top:1rem;
}
.grid a[title]{
    text-decoration: none;
    padding: 1rem;
    color:#424242;
    box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
    display: inline-block;
    
    margin-bottom:20px;
    
    transition: all .3s cubic-bezier(0.25, .8, .25, 1);
}
.grid:hover a[title]:not(:hover){
    opacity: .6;
}

a[title]:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);
    
}


/*------------------------------------*/
/*----------- Media Queries ----------*/
/*------------------------------------*/
@media (max-width: 1239px){
    nav {
        height: 50px;
    }
    .nav {
        width: 700px;
    }
    nav .nav .brand img {
        height: 75px;
    }
    .nav-links {
        height: 50px;
        width: 480px;
        bottom: 0;
        right: 0;
    }
    .links {
        width: 90px;
    }
    .links a p {
        font-size: 0.85rem;
    }
    .welcome p {
        font-size: 1.15rem;
    }
}
@media (min-width: 1441px) {
    main {
        width: 1440px;
    }
}